/*------------------------------------------------------------LINGUAGENS------------------------------------------------------------*/  

.linguagens {
    padding: 50px 0;
    background-color: #1a1a2e;
    color: #fff;
    text-align: center;
}

.carrossel-linguagens {
    display: flex;
    overflow: hidden;
    justify-content: center;
    gap: 20px;
}

.slide-linguagens {
    min-width: 100px;
    transition: transform 0.5s ease-in-out;
}

.carrossel-linguagens img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

/*------------------------------------------------------------FIM LINGUAGENS------------------------------------------------------------*/  
