/*------------------------------------------------------------FOTO------------------------------------------------------------*/  

.container {
    padding: 50px 20px;
    max-width: 1000px;
    margin: auto;
}

.foto-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.borda-animada {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(from 0deg, #a97bff, #1a1a2e, #a97bff);
    animation: spin 5s linear infinite;
    z-index: 1;
}

.borda-interna {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(from 0deg, #a97bff, #1a1a2e, #9c68fc #1a1a2e);
}

.foto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 2;
}

/* Animação de rotação */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*------------------------------------------------------------FIM FOTO------------------------------------------------------------*/  

/*------------------------------------------------------------SOBRE MIM E REDES SOCIAIS------------------------------------------------------------*/  

.card {
    background-color: #1c1c3a;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px #000;
    transition: transform 0.3s;
}

.card img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card:hover {
    transform: scale(1.03);
}

.redes-sociais {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.redes-sociais a img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.redes-sociais a img:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}
/*========================TEXTO SOBRE MIM========================*/
.typing-container {
    text-align: center;
    font-size: 1.5em;
    color: #f0f0f0;
    font-weight: normal;
    line-height: 1.6;
}

.typing span {
    display: block;
    opacity: 0;
    animation: typingFade 0.8s ease forwards;
}

.typing span:nth-child(1) { animation-delay: 0s; }
.typing span:nth-child(2) { animation-delay: 1s; }
.typing span:nth-child(3) { animation-delay: 2s; }
.typing span:nth-child(4) { animation-delay: 3s; }
.typing span:nth-child(5) { animation-delay: 4s; }

@keyframes typingFade {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/*------------------------------------------------------------FIM SOBRE MIM E REDES SOCIAIS------------------------------------------------------------*/  